include LICENCE RELEASE-NOTES AUTHORS
include README.md
include recrypt-electrum.conf.sample
include recrypt-electrum.desktop
include *.py
include recrypt-electrum
recursive-include lib *.py
recursive-include gui *.py
recursive-include plugins *.py
recursive-include packages *.py
recursive-include packages cacert.pem
include icons.qrc
recursive-include icons *
recursive-include scripts *

